In [5]:
import pandas as pd
namedf=pd.read_csv('/Users/mac/Library/CloudStorage/Dropbox/Mac/Desktop/助研/David Young/temp.csv')
namedf=namedf.dropna()

In [6]:
namedf.index=namedf.index.astype(int)
nameparse=pd.Series(namedf['name'].str.split().values,index=namedf.index)
'''print(nameparse)'''
nameparse.info()

<class 'pandas.core.series.Series'>
Int64Index: 2261125 entries, 0 to 2261125
Series name: None
Non-Null Count    Dtype
--------------    -----
2261125 non-null  object
dtypes: object(1)
memory usage: 34.5+ MB

In [12]:
print(nameparse)
print('LTD' in nameparse[1])

0                           [TOHKAI, THERMO, (HK), CO, LTD]
1          [LEE, WAI, HONG, &, NGAN, TIK, HAN, NDIYA, (JT)]
2                                         [CHAN, WAI, LUEN]
3                                       [LAP, WIN, CO, LTD]
4                                    [LI, YEE, LIN, ELAINE]
                                 ...
2261121            [LIU, WING, KAI, &, LO, LAI, YING, (JT)]
2261122        [LEUNG, TIM, &, LEUNG, CHIM, YAN, IDY, (JT)]
2261123         [MOK, KANG, MING, &, LEE, CHI, CHING, (JT)]
2261124                                 [HAU, SIU, PO, 1/2]
2261125           [NG, KATHERINE, &, LI, CHOR, KEUNG, (JT)]
Length: 2261125, dtype: object
False

In [10]:
print('LTD' in nameparse[13])

False

In [14]:
nameparse = nameparse[nameparse.apply(lambda x: (isinstance(x, list) and len(x)>0))]
nameparse = nameparse[nameparse.apply(lambda x: 'LTD' not in x)]
nameparse=nameparse.reset_index(drop=True)
nameparse

0          [LEE, WAI, HONG, &, NGAN, TIK, HAN, NDIYA, (JT)]
1                                         [CHAN, WAI, LUEN]
2                                    [LI, YEE, LIN, ELAINE]
3                  [CHU, MING, WAH, &, YU, LAI, PING, (JT)]
4                  [CHU, PO, LUN, &, LAU, SHUK, MING, (JT)]
                                 ...
2030372            [LIU, WING, KAI, &, LO, LAI, YING, (JT)]
2030373        [LEUNG, TIM, &, LEUNG, CHIM, YAN, IDY, (JT)]
2030374         [MOK, KANG, MING, &, LEE, CHI, CHING, (JT)]
2030375                                 [HAU, SIU, PO, 1/2]
2030376           [NG, KATHERINE, &, LI, CHOR, KEUNG, (JT)]
Length: 2030377, dtype: object

In [76]:
mediateselectmultipl=nameparse[nameparse.apply(lambda x: '&' in x)]

In [96]:
selectmultipl=mediateselectmultipl[nameparse.apply(lambda x: '&' in x)]
selectmultipl=selectmultipl.reset_index(drop=True)
selectmultipl

0           [LEE, WAI, HONG, &, NGAN, TIK, HAN, NDIYA, (JT)]
1                   [CHU, MING, WAH, &, YU, LAI, PING, (JT)]
2                   [CHU, PO, LUN, &, LAU, SHUK, MING, (JT)]
3          [YEUNG, CHOI, FUNG, &, LEUNG, KWONG, YEE, SHEP...
4                   [NG, LAI, CHUN, &, AU, KIN, LEUNG, (JT)]
                                 ...
1230484        [FONG, MING, KWONG, &, TSE, CHUK, KWAN, (JT)]
1230485             [LIU, WING, KAI, &, LO, LAI, YING, (JT)]
1230486         [LEUNG, TIM, &, LEUNG, CHIM, YAN, IDY, (JT)]
1230487          [MOK, KANG, MING, &, LEE, CHI, CHING, (JT)]
1230488            [NG, KATHERINE, &, LI, CHOR, KEUNG, (JT)]
Length: 1230489, dtype: object

In [100]:
selectmultipl=selectmultipl[selectmultipl.apply(lambda x: 'OTHERS' not in x and 'OTHER' not in x and 'OTHE' not in x and 'OTH' not in x)]
selectmultipl=selectmultipl.reset_index(drop=True)
selectmultipl

0           [LEE, WAI, HONG, &, NGAN, TIK, HAN, NDIYA, (JT)]
1                   [CHU, MING, WAH, &, YU, LAI, PING, (JT)]
2                   [CHU, PO, LUN, &, LAU, SHUK, MING, (JT)]
3          [YEUNG, CHOI, FUNG, &, LEUNG, KWONG, YEE, SHEP...
4                   [NG, LAI, CHUN, &, AU, KIN, LEUNG, (JT)]
                                 ...
1030797        [FONG, MING, KWONG, &, TSE, CHUK, KWAN, (JT)]
1030798             [LIU, WING, KAI, &, LO, LAI, YING, (JT)]
1030799         [LEUNG, TIM, &, LEUNG, CHIM, YAN, IDY, (JT)]
1030800          [MOK, KANG, MING, &, LEE, CHI, CHING, (JT)]
1030801            [NG, KATHERINE, &, LI, CHOR, KEUNG, (JT)]
Length: 1030802, dtype: object

In [104]:
selectmultipl=selectmultipl[selectmultipl.apply(lambda x:'&' in x)]
selectmultipl=selectmultipl.reset_index(drop=True)
selectmultipl

0           [LEE, WAI, HONG, &, NGAN, TIK, HAN, NDIYA, (JT)]
1                   [CHU, MING, WAH, &, YU, LAI, PING, (JT)]
2                   [CHU, PO, LUN, &, LAU, SHUK, MING, (JT)]
3          [YEUNG, CHOI, FUNG, &, LEUNG, KWONG, YEE, SHEP...
4                   [NG, LAI, CHUN, &, AU, KIN, LEUNG, (JT)]
                                 ...
1029465        [FONG, MING, KWONG, &, TSE, CHUK, KWAN, (JT)]
1029466             [LIU, WING, KAI, &, LO, LAI, YING, (JT)]
1029467         [LEUNG, TIM, &, LEUNG, CHIM, YAN, IDY, (JT)]
1029468          [MOK, KANG, MING, &, LEE, CHI, CHING, (JT)]
1029469            [NG, KATHERINE, &, LI, CHOR, KEUNG, (JT)]
Length: 1029470, dtype: object

In [99]:
for i in range(len(selectmultipl)):
    if selectmultipl[i][-1] == '&':
        selectmultipl[i]=selectmultipl[i][:-1]

In [105]:
totallistof_lastname_list=[]
for sublistorder in range(len(selectmultipl)):
    ordernlist = find_index(selectmultipl[sublistorder], lambda x: x == '&')
    lastnameorderlist=find_lastname(ordernlist)
    lastnamelist=match_lastname_withorder(lastnameorderlist,selectmultipl[sublistorder])
    totallistof_lastname_list.append(lastnamelist)

In [55]:
def find_lastname(order_n_list):
    lastnameorderlist=[0]
    for i in order_n_list:
        lastnameorderlist.append(i+1)
    return lastnameorderlist

In [56]:
def match_lastname_withorder(lastnameorderlist,sublist):
    lastname=[]
    for i in lastnameorderlist:
        lastname.append(sublist[i])
    return lastname

In [57]:
def find_index(lst, condition):
    order_n=[]
    for i, item in enumerate(lst):
        if condition(item):
            order_n.append(i)
    return order_n

In [ ]:
print(totallistof_lastname_list)

In [106]:
len(totallistof_lastname_list)

1029470

In [92]:
len(totallistof_lastname_list[0])

2

In [93]:
totallistof_lastname_list[0][1]

'NGAN'

In [107]:
min_len = float('inf')
min_len_index = None
for index, elem in enumerate(totallistof_lastname_list):
    if len(elem) < min_len:
        min_len = len(elem)
        min_len_index = index

print("The shortest element is at index", min_len_index)

The shortest element is at index 0