In [1]:
#1 import data
import pandas as pd
namedf=pd.read_csv('/Users/mac/Library/CloudStorage/Dropbox/Mac/Desktop/助研/David Young/temp.csv')
namedf=namedf.dropna()

In [ ]:
#2 change the form into pd.Series
namedf.index=namedf.index.astype(int)
nameparse=pd.Series(namedf['name'].str.split().values,index=namedf.index)
'''print(nameparse)'''
nameparse.info()

In [12]:
#3 test
print(nameparse)
print('LTD' in nameparse[1])

0                           [TOHKAI, THERMO, (HK), CO, LTD]
1          [LEE, WAI, HONG, &, NGAN, TIK, HAN, NDIYA, (JT)]
2                                         [CHAN, WAI, LUEN]
3                                       [LAP, WIN, CO, LTD]
4                                    [LI, YEE, LIN, ELAINE]
                                 ...
2261121            [LIU, WING, KAI, &, LO, LAI, YING, (JT)]
2261122        [LEUNG, TIM, &, LEUNG, CHIM, YAN, IDY, (JT)]
2261123         [MOK, KANG, MING, &, LEE, CHI, CHING, (JT)]
2261124                                 [HAU, SIU, PO, 1/2]
2261125           [NG, KATHERINE, &, LI, CHOR, KEUNG, (JT)]
Length: 2261125, dtype: object
False

In [ ]:
#4 test NA
print(nameparse[12])
print('LTD' in nameparse[12])

In [33]:
#5 clear NA and 'LTD'
nameparse = nameparse[nameparse.apply(lambda x: (isinstance(x, list) and len(x)>0))]
nameparse = nameparse[nameparse.apply(lambda x: 'LTD' not in x)]
nameparse=nameparse.reset_index(drop=True)
nameparse

0          [LEE, WAI, HONG, &, NGAN, TIK, HAN, NDIYA, (JT)]
1                                         [CHAN, WAI, LUEN]
2                                    [LI, YEE, LIN, ELAINE]
3                  [CHU, MING, WAH, &, YU, LAI, PING, (JT)]
4                  [CHU, PO, LUN, &, LAU, SHUK, MING, (JT)]
                                 ...
2030372            [LIU, WING, KAI, &, LO, LAI, YING, (JT)]
2030373        [LEUNG, TIM, &, LEUNG, CHIM, YAN, IDY, (JT)]
2030374         [MOK, KANG, MING, &, LEE, CHI, CHING, (JT)]
2030375                                 [HAU, SIU, PO, 1/2]
2030376           [NG, KATHERINE, &, LI, CHOR, KEUNG, (JT)]
Length: 2030377, dtype: object

In [34]:
#6 clear '&' in the last
def custom_func(item):
    if item[-1] != '&':
        return item
    else:
        return item.remove('&')

In [40]:
#7 run this block for 5 times or more if you would like to assure the nonexistence of '&' in the end
#(I do not know on earth how many '&' here in a single list, I think this method is OK in a way)
clear_last_n = nameparse.apply(custom_func)
clear_last_n

0          [LEE, WAI, HONG, &, NGAN, TIK, HAN, NDIYA, (JT)]
1                                         [CHAN, WAI, LUEN]
2                                    [LI, YEE, LIN, ELAINE]
3                  [CHU, MING, WAH, &, YU, LAI, PING, (JT)]
4                  [CHU, PO, LUN, &, LAU, SHUK, MING, (JT)]
                                 ...
2030372            [LIU, WING, KAI, &, LO, LAI, YING, (JT)]
2030373        [LEUNG, TIM, &, LEUNG, CHIM, YAN, IDY, (JT)]
2030374         [MOK, KANG, MING, &, LEE, CHI, CHING, (JT)]
2030375                                 [HAU, SIU, PO, 1/2]
2030376           [NG, KATHERINE, &, LI, CHOR, KEUNG, (JT)]
Length: 2030377, dtype: object

In [ ]:
#8 single holder(at least can be seen as single holder)
clear_for_single=clear_last_n[clear_last_n.apply(lambda x: 'OTHERS' in x or 'OTHER' in x or 'OTHE' in x or 'OTH' in x or '&' not in x)]
clear_for_single=clear_for_single.reset_index(drop=True)

print(clear_for_single)

In [50]:
#9
singleholder=clear_for_single

In [47]:
#10 multiholder
clearOTHERSforMulti=clear_last_n[clear_last_n.apply(lambda x: 'OTHERS' not in x and 'OTHER' not in x and 'OTHE' not in x and 'OTH' not in x and '&' in x)]
clearOTHERSforMulti=clearOTHERSforMulti.reset_index(drop=True)
print(clearOTHERSforMulti)
MultiHolder=clearOTHERSforMulti

0           [LEE, WAI, HONG, &, NGAN, TIK, HAN, NDIYA, (JT)]
1                   [CHU, MING, WAH, &, YU, LAI, PING, (JT)]
2                   [CHU, PO, LUN, &, LAU, SHUK, MING, (JT)]
3          [YEUNG, CHOI, FUNG, &, LEUNG, KWONG, YEE, SHEP...
4                   [NG, LAI, CHUN, &, AU, KIN, LEUNG, (JT)]
                                 ...
1027916        [FONG, MING, KWONG, &, TSE, CHUK, KWAN, (JT)]
1027917             [LIU, WING, KAI, &, LO, LAI, YING, (JT)]
1027918         [LEUNG, TIM, &, LEUNG, CHIM, YAN, IDY, (JT)]
1027919          [MOK, KANG, MING, &, LEE, CHI, CHING, (JT)]
1027920            [NG, KATHERINE, &, LI, CHOR, KEUNG, (JT)]
Length: 1027921, dtype: object

In [ ]:
#11 function finding order of '&'
def find_index(lst, condition):
    order_n=[]
    for i, item in enumerate(lst):
        if condition(item):
            order_n.append(i)
    return order_n

In [ ]:
#12 find last name order for multiholder
def find_lastname(order_n_list):
    lastnameorderlist=[0]
    for i in order_n_list:
        lastnameorderlist.append(i+1)
    return lastnameorderlist

In [ ]:
#13 supercede order with real last name for multiholder
def match_lastname_withorder(lastnameorderlist,sublist):
    lastname=[]
    for i in lastnameorderlist:
        lastname.append(sublist[i])
    return lastname

In [ ]:
#14 find last name for multiholder
totallistof_lastname_list=[]
for sublistorder in range(len(MultiHolder)):
    ordernlist = find_index(MultiHolder[sublistorder], lambda x: x == '&')
    lastnameorderlist=find_lastname(ordernlist)
    lastnamelist=match_lastname_withorder(lastnameorderlist,MultiHolder[sublistorder])
    totallistof_lastname_list.append(lastnamelist)
totallistof_lastname_list

In [ ]:
#15 find last name for singleholder
totalsinglelastname=[]
for i in range(len(singleholder)):
    totalsinglelastname.append(singleholder[i][0])
print(totalsinglelastname)

In [ ]:
print(totallistof_lastname_list)

In [52]:
len(totallistof_lastname_list)

1027921

In [54]:
len(totalsinglelastname)

1002456